@import url(rootcolor.css);


#headbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    margin: -10px -10px;
}


#ulbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px ; 
}

#ulbar li{
    list-style: none;
    padding: 0px 15px;
}

#ulbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.4s ease;
}

#headbar a{
    text-decoration: none;
    color: white;
}

#ulbar li a:hover{
    color: rgb(94, 229, 119);
}








