@font-face {
    font-family: metro;
    src: url(Metropolis-Regular.ttf);
 } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: metro;
}

body {
    
    margin: auto;
}

header {
    background-size: cover;
    /* background-color: #020617; */
    height: 30vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {

    background-color: rgb(227, 227, 227);
    border-radius: 2ch;
    margin-top: 1em;

    ul {
        list-style: none;
        display: flex;
        justify-content: start;
        
        li {
            padding: 2rem;
        }

    }
    a {
        text-decoration: none;
    }
}

main {
    /* background-color: #87EDC2; */
    border-radius: 2ch;
    margin-top: 1em;
    margin: 1em;

    h1 { padding: 1em;}

}

.popup-sell-div {
    border: 2px solid rgb(227, 227, 227);
    border-radius: 2ch;
    padding: 1em;
    /* margin: 1em; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        background-color: rgb(103, 230, 255);
        border-radius: 3ch;
        width: 5em;

        text-align: center;
        line-height: 40px;
    }

    div {
        width: 10em;
    }
}
.w3-bar .w3-bar-item{
    padding:8px 16px;float:left;width:auto;display:block;outline:0;background-color: white;
}
.w3-bar {
    /* position:static;float:left; */
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.w3-bar .w3-button{
    white-space:normal;
}
.w3-button:hover{color:#000!important;background-color:#ccc!important;}
.w3-container,.w3-panel{
    padding:0.01em 16px;
}.w3-panel{
    margin-top:16px;margin-bottom:16px
}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}

.items-grid {

    article {
        display: flex;
        justify-content: center;
    }

    article img{
        width: 10em;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30fr));
}
